<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="modalSolicitarVaga(usuario,estacionamento)" id="navbar2" class="navbar2">
    <div class="modal fade" id="exampleModalXl" tabindex="-1" aria-labelledby="exampleModalXlLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title h4" id="exampleModalXlLabel">Solicitar Vaga</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="form-style">
                    <div class="modal-body">
                        <form class="row g-3 needs-validation" novalidate th:object="${solicitarVagaDTO}" method="POST" th:action="@{/home/estacionamento/solicitar}">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6 pb-3">
                                        <label for="usuario">Nome</label>
                                        <input type="text" readonly class="form-control" th:value="${usuario.nome}">
                                    </div>
                                    <div class="col-sm-6 pb-3">
                                        <label for="usuario">Email</label>
                                        <input type="text" readonly class="form-control" th:value="${usuario.userName}">
                                    </div>
                                    <div class="col-sm-12 pb-3">
                                        <label for="estacionamento">Estacionamento</label>
                                        <input type="text" readonly class="form-control" th:value="${estacionamento.nome}">
                                    </div>
                                   <!--<div class="col-sm-12 pb-3" th:if="${#maps.size(horariosOcupados)}">
                                        <div class="alert alert-warning" role="alert">
                                            <i class="fas fa-info-circle"></i>
                                            <small><strong>Atenção: Horários indisponíveis</strong>
                                            </small>
                                            <div class="pt-1 ps-1" th:each="instance : ${horariosOcupados}">
                                                <small th:text="| Dia ${#temporals.format(instance.key, 'dd/MM/yyyy HH:mm')}|"></small>
                                                <small th:text="| Até ${#temporals.format(instance.value, 'dd/MM/yyyy HH:mm')}|"></small>
                                            </div>
                                        </div>
                                    </div>!-->
                                    <div class="col-sm-12 pb-3">
                                        <label for="nome">Data e hora prevista de chegada</label>
                                        <input required type="datetime-local" class="form-control" id="dataPrevistaEntrada" name="dataPrevistaEntrada">
                                        <div class="info pt-3 pb-3">
                                            <i class="fas fa-info-circle"></i>
                                            <small>Atenção: <br>Preencha com uma estimativa de chegada, se a previsão for muito
                                            diferente da hora da entrada efetiva - chegada no estacionamento, você será cobrado por um taxa de atraso.
                                            </small>
                                        </div>

                                    </div>
                                    <div class="col-sm-12 pb-3">
                                        <label for="nome">Data e hora prevista de saída</label>
                                        <input required type="datetime-local" class="form-control" id="dataPrevistaSaida" name="dataPrevistaSaida">
                                        <div class="info pt-3 pb-3">
                                            <i class="fas fa-info-circle"></i>
                                            <small>Atenção: <br>Preencha com uma estimativa de saída.
                                            </small>
                                        </div>

                                    </div>
                                    <div class="col-sm-12 pb-3">
                                        <label for="nome">Selecione o veículo</label>
                                        <select  id="veiculo" name="veiculo" class="form-select" required>
                                            <option selected value="">Selecione seu veículo</option>
                                            <option th:each="carro : ${carros}"
                                                    th:value="${carro.id}"
                                                    th:text="|${carro.modelo} - ${carro.placa}|">
                                            </option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Selecione um veículo. Caso não apareça, você precisará adicionar um veículo ativo (Perfil -> Veículos).
                                        </div>
                                        <input type="hidden" name="estacionamento" id="estacionamento" th:value="${estacionamento.id}"/>
                                        <input type="hidden" name="cliente" id="cliente" th:value="${usuario.id}"/>
                                    </div>
                                </div>
                            </div>

                            <div style="float:right">
                                <input class="btn btn-secondary" type="reset" data-bs-dismiss="modal" value="Cancelar">
                                <button class="btn btn-primary" type="submit" value="Adicionar">Solicitar</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>