<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/head :: head(pageTitle='AutoParking - Novo estacionamento')" />

<body>

<!-- ======= Top Bar ======= -->
<section th:replace="fragments/topbar :: topbar" />

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="/">AutoParking<span>.</span></a></h1>
        <head th:replace="fragments/navbar :: navbar" />

    </div>
</header>
<!-- End Header -->


<main id="main" data-aos="fade-up">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Cadastrar</h2>
                <ol>
                    <li><a th:href="@{/}">Página inicial</a></li>
                    <li><a th:href="@{/admin}">Admin</a></li>
                    <li>Novo estacionamento</li>
                </ol>
            </div>

        </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="row m-2 no-gutters shadow-lg">
                <div class="col-md-12 bg-white p-5 col-12">
                    <h3 class="pb-3">Novo estacionamento</h3>
                    <div class="form-style">
                        <form class="row g-3 needs-validation" novalidate th:object="${estacionamentoForm}" method="POST" th:action="@{/admin/estacionamentos/novo}">

                            <div class="card-body">
                                <div class="row mt-4">
                                    <div class="col-sm-4 pb-3">
                                        <label for="nome">Nome</label>
                                        <input class="form-control" th:field="*{nome}" type="text" required th:errorClass="is-invalid">
                                        <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="invalid-feedback"></div>
                                        <div th:unless="${#fields.hasAnyErrors()}" class="invalid-feedback">
                                            Preencha o nome do estacionamento.
                                        </div>
                                    </div>
                                    <div class="col-sm-3 pb-3">
                                        <label for="exampleCtrl">Estado</label>
                                        <select th:field="*{estado}" class="form-select" required>
                                            <option selected value="">Selecione seu estado</option>
                                            <option th:each="estado : ${listaEstados}"
                                                    th:value="${estado.id}"
                                                    th:text="${estado.descricao}">
                                            </option>
                                        </select>
                                        <div th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}" class="invalid-feedback"></div>
                                        <div th:unless="${#fields.hasAnyErrors()}" class="invalid-feedback">
                                            Selecione o estado.
                                        </div>
                                    </div>

                                    <div class="col-sm-3 pb-3">
                                        <label for="exampleAmount">Cidade</label>
                                        <div class="input-group">
                                            <input class="form-control" th:field="*{cidade}" type="text" required th:errorClass="is-invalid">
                                            <div th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}" class="invalid-feedback"></div>
                                            <div th:unless="${#fields.hasAnyErrors()}" class="invalid-feedback">
                                                Preencha a cidade.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 pb-3">
                                        <label for="exampleAmount">Bairro</label>
                                        <div class="input-group">
                                            <input class="form-control" th:field="*{bairro}" type="text" required th:errorClass="is-invalid">
                                            <div th:if="${#fields.hasErrors('bairro')}" th:errors="*{bairro}" class="invalid-feedback"></div>
                                            <div th:unless="${#fields.hasAnyErrors()}" class="invalid-feedback">
                                                Preencha o bairro.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 pb-3">
                                        <label for="exampleAmount">Logradouro</label>
                                        <div class="input-group">
                                            <input class="form-control" th:field="*{rua}" type="text" required th:errorClass="is-invalid">
                                            <div th:if="${#fields.hasErrors('rua')}" th:errors="*{rua}" class="invalid-feedback"></div>
                                            <div th:unless="${#fields.hasAnyErrors()}" class="invalid-feedback">
                                                Preencha o logradouro.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 pb-3">
                                        <label for="latitude">Latitude</label>
                                        <input class="form-control" th:field="*{eixoX}" type="text" required th:errorClass="is-invalid">
                                        <div th:if="${#fields.hasErrors('eixoX')}" th:errors="*{eixoX}" class="invalid-feedback"></div>
                                        <div th:unless="${#fields.hasAnyErrors()}" class="invalid-feedback">
                                            Preencha a Latitude.
                                        </div>
                                    </div>
                                    <div class="col-sm-2 pb-3">
                                        <label for="longitude">Longitude</label>
                                        <input class="form-control" th:field="*{eixoY}" type="text" required th:errorClass="is-invalid">
                                        <div th:if="${#fields.hasErrors('eixoY')}" th:errors="*{eixoY}" class="invalid-feedback"></div>
                                        <div th:unless="${#fields.hasAnyErrors()}" class="invalid-feedback">
                                            Preencha a longitude.
                                        </div>
                                    </div>

                                    <div class="col-sm-3 pb-3">
                                        <label for="exampleAmount">Maps</label>
                                        <a class="form-control btn btn-primary" type="reset" href="https://maps.google.com/" target="_blank" data-bs-dismiss="modal">Abrir Google Maps</a>
                                    </div>

                                    <div class="col-sm-5 pb-3">
                                        <label for="exampleLast">Telefone</label>
                                        <input class="form-control" th:field="*{telefone}" type="text">
                                    </div>
                                    <div class="col-sm-2 pb-3">
                                        <label for="exampleCity">Horário/Abrir</label>
                                        <input mask=time class="form-control" th:field="*{horarioAbre}" type="text"  placeholder="HH:mm" required th:errorClass="is-invalid">
                                        <div th:if="${#fields.hasErrors('horarioAbre')}" th:errors="*{horarioAbre}" class="invalid-feedback"></div>
                                        <div th:unless="${#fields.hasAnyErrors()}" class="invalid-feedback">
                                            Preencha o horário.
                                        </div>
                                    </div>
                                    <div class="col-sm-2 pb-3">
                                        <label for="exampleCity">Horário/Fechar</label>
                                        <input mask=time class="form-control" th:field="*{horarioFecha}" type="text" placeholder="HH:mm" required th:errorClass="is-invalid">
                                        <div th:if="${#fields.hasErrors('horarioFecha')}" th:errors="*{horarioFecha}" class="invalid-feedback"></div>
                                        <div th:unless="${#fields.hasAnyErrors()}" class="invalid-feedback">
                                            Preencha o horário.
                                        </div>
                                    </div>

                                    <div class="col-sm-3 pb-3">
                                        <label for="exampleAmount">Qtd Vagas</label>
                                        <div class="input-group">
                                            <input class="form-control" th:field="*{quantidadeVagas}" type="number" required th:errorClass="is-invalid">
                                            <div th:if="${#fields.hasErrors('quantidadeVagas')}" th:errors="*{quantidadeVagas}" class="invalid-feedback"></div>
                                            <div th:unless="${#fields.hasAnyErrors()}" class="invalid-feedback">
                                                Preencha a quantidade de vagas.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="pt-2" align="right">
                                <button class="btn btn-dark" type="submit" value="Cadastrar">Cadastrar</button>
                            </div>

                        </form>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->


<div th:replace="fragments/footer :: footer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script th:src="@{/js/cadastrar.js}"></script>
<script th:inline="javascript">
var regexMask = function(el, mask) {
  var masks = {
      'float-ptbr': /^((\d{1,3}(\.\d{3})*(((\.\d{0,2}))|((\,\d*)?)))|(\d+(\,\d*)?))$/,
      'float-enus': /^((\d{1,3}(\,\d{3})*(((\,\d{0,2}))|((\.\d*)?)))|(\d+(\.\d*)?))$/,
      'time-meridian': /^(([0-1]|0[1-9]|1[0-2])|([0-1]|[0-1][0-9]?)(:(?![A-Za-z]))([0-5]?|[0-5][0-9]?)(?![A-Za-z])( (?![mM]))?([APap])?[mM]?)$/,
      'time': /^(([0-1][0-9]|2[0-3]|[0-2])|([0-1][0-9]|2[0-3]|[0-2]):[0-5]?[0-9]?)$/,
      'integer': /^\d+$/
    },
    eventNs = 'regexmask';
  if (!el) {
    throw 'required target element argument missing';
  } else if (!mask) {
    throw 'required mask argument missing';
  } else if (masks[mask]) {
    mask = masks[mask];
  } else {
    try {
      mask.test("");
    } catch (e) {
      throw 'regexMask requires the test() method';
    }
  }
  $(el).on('focus' + '.' + eventNs, function(event) {
    $(el).on('keypress' + '.' + eventNs, function(event) {
      event.keyCode = event.keyCode ? event.keyCode : event.charCode || event.which;
      if (!event.keyCode) {
        return true;
      }
      var part1 = el.value.substring(0, el.selectionStart),
        part2 = el.value.substring(el.selectionEnd, el.value.length);
      if (!mask.test(part1 + String.fromCharCode(event.charCode) + part2)) {
        event.preventDefault();
        return false;
      }
    });
  }).on('blur' + '.' + eventNs, function() {
    $(el).off(['keypress', 'blur'].join('.' + eventNs + ' ') + '.' + eventNs);
  });
};
regexMask($('[mask="time"]')[0], 'time');
</script>
</body>

</html>