<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head(pageTitle='Administração - Página inicial')" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/cards.css}" />
<body>


<section th:replace="fragments/topbar :: topbar" />


<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a th:href="@{/admin}">AutoParking<span>.</span></a></h1>

        <head th:replace="fragments/navbar :: navbar" />

    </div>
</header>



<main id="main" data-aos="fade-up">


    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Painel administrativo</h2>
                <ol>
                    <li>Administração</li>
                </ol>
            </div>

        </div>
    </section>



    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div th:if="${mensagemSucesso}" class="row m-2 alert alert-success alert-dismissible fade show" role="alert">
                <span th:utext="${mensagemSucesso}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div th:if="${mensagemError}" class="row m-2 alert alert-danger alert-dismissible fade show" role="alert">
                <span th:utext="${mensagemError}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="row m-2 no-gutters shadow-lg">
                <div class="col-md-12 bg-white p-3 col-12">
                    <div class="container">
                        <div class="row">

                                <div class="row pb-3 pt-4">
                                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 col-sm-12">
                                        <!-- Card-->
                                        <div class="card rounded shadow-sm">
                                            <div class="card-body p-4" ><i class="fas fa-parking fa-2x mb-3 text-primary"></i>
                                                <h5>Vagas totais</h5>
                                                <div class="task-count">
                                                    <span th:text="${vagasTotais}"></span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 col-sm-12">
                                        <!-- Card -->
                                        <div class="card rounded shadow-sm">
                                            <div class="card-body p-4" ><i class="fas fa-ban fa-2x mb-3 text-primary"></i>
                                                <h5>Vagas Ocupadas</h5>
                                                <div class="task-count">
                                                    <span th:text="${vagasOcupadas}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 col-sm-12">
                                        <!-- Card -->
                                        <div class="card rounded shadow-sm">
                                            <div class="card-body p-4"><i class="fas fa-car-side fa-2x mb-3 text-primary"></i>
                                                <h5>Vagas Livres</h5>
                                                <div class="task-count">
                                                    <span th:text="${vagasLivres}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>


                        </div>
                        <div class="row">
                            <div class="row pt-2">
                                <div class="col-md-4 col-lg-4 pb-3">


                                    <div class="card card-custom bg-white border-white border-0">
                                        <div class="card-custom-img" style="background-image: url(https://c0.wallpaperflare.com/preview/607/871/595/light-parking-garage-building-underground.jpg);"></div>
                                        <div class="card-body" style="overflow-y: auto">
                                            <h4 class="card-title">Estacionamento</h4>
                                            <p class="card-text">Crie, edite e gerencie suas vagas no seu estacionamento.</p>
                                            <ul>
                                                <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a th:href="@{/admin/estacionamentos/novo}">Cadastrar estacionamento</a></li>
                                                <li><a th:href="@{/admin/estacionamentos}">Gerenciar estacionamento</a></li>
                                            </ul>
                                        </div>

                                    </div>


                                </div>

                                <div class="col-md-4 col-lg-4 pb-3">


                                    <div class="card card-custom bg-white border-white border-0">
                                        <div class="card-custom-img" style="background-image: url(https://austinbenefits.com/wp-content/uploads/helpful-hr-hacks-for-talent-management-background.png);"></div>
                                        <div class="card-body" style="overflow-y: auto">
                                            <h4 class="card-title">Gestores</h4>
                                            <p class="card-text">Crie, edite e gerencie seus gestores para o estacionamento.</p>
                                            <ul>
                                                <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a th:href="@{/admin/gestor}">Cadastrar gestor</a></li>
                                                <li sec:authorize="hasAnyRole('ROLE_ADMIN')">Gerenciar gestor</li>
                                            </ul>
                                        </div>

                                    </div>


                                </div>

                                <div class="col-md-4 col-lg-4 pb-3">


                                    <div class="card card-custom bg-white border-white border-0">
                                        <div class="card-custom-img" style="background-image: url(https://ak.picdn.net/shutterstock/videos/9540635/thumb/7.jpg);"></div>
                                        <div class="card-body" style="overflow-y: auto">
                                            <h4 class="card-title">Estatísticas</h4>
                                            <p class="card-text">Visualize os dados do seu estacionamento.</p>
                                            <ul>
                                                <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a th:href="@{/admin/estatisticas}">Estatisticas geral</a></li>
                                                <li><a th:href="@{/admin/orders}">Orders</a></li>
                                            </ul>
                                        </div>

                                    </div>


                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>



</main>
<div th:replace="fragments/footer :: footer" />


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script th:src="@{/js/admin.js}"></script>

</body>

</html>