<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/head :: head(pageTitle='AutoParking - Gerenciar estacionamento')" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/estatistica.css}" />
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap" rel="stylesheet">
<body>


<section th:replace="fragments/topbar :: topbar" />


<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a th:href="@{/}">AutoParking<span>.</span></a></h1>

        <head th:replace="fragments/navbar :: navbar" />

    </div>
</header>


<main id="main" data-aos="fade-up">


    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Estacionamento</h2>
                <ol>
                    <li><a th:href="@{/admin}">Painel administrativo</a></li>
                    <li>Meu Estacionamento</li>
                </ol>
            </div>

        </div>
    </section>

    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div th:if="${mensagemSucesso}" class="m-2 alert alert-success alert-dismissible fade show" role="alert">
                <span th:utext="${mensagemSucesso}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div th:if="${mensagemError}" class="m-2 alert alert-danger alert-dismissible fade show" role="alert">
                <span th:utext="${mensagemError}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="row m-2 no-gutters shadow-lg">
                <div class="col-md-12 bg-white p-3 col-12">
                    <div class="container">

                        <div class="row">
                            <div>
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="row">

                                                <div class="row pb-3 pt-4">
                                                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                                                        <!-- Card-->
                                                        <div class="card rounded shadow-sm border-0">
                                                            <div class="card-body p-5" style="height: 250px;"><i class="fas fa-user fa-2x mb-3 text-primary"></i>
                                                                <h5><span id="qtd-usuario"></span> Clientes</h5>
                                                                <p class="small text-muted font-italic">Novos clientes no mês corrente.</p>
                                                                <div class="float-end pt-3">
                                                                    <input type="month" style="width:180px" value="2021-08" class="form-control datetimepicker-input" id="mes-usuario">
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                                                        <!-- Card -->
                                                        <div class="card rounded shadow-sm border-0">
                                                            <div class="card-body p-5" style="height: 250px;"><i class="fas fa-users fa-2x mb-3 text-success"></i>
                                                                <h5><span th:text="${qtdGestores}"></span> Gestores</h5>
                                                                <p class="small text-muted font-italic">Quantidade total de gestores </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                                                        <!-- Card -->
                                                        <div class="card rounded shadow-sm border-0">
                                                            <div class="card-body p-5" style="height: 250px;"><i class="fas fa-hand-holding-usd fa-2x mb-3 text-warning"></i>
                                                                <h5>Seu saldo: <span>R$ </span><span id="valor"></span></h5>
                                                                <p class="small text-muted font-italic">Saldo do seu estacionamento no período selecionado.</p>

                                                                <div style="cursor:pointer;" align="center">
                                                                    <small id="30_DIAS" class="mudarValor">30 Dias |</small><small  id="90_DIAS" class="mudarValor"> 90 Dias |</small><small id="180_DIAS" class="mudarValor"> 180 Dias |</small><small  id="365_DIAS" class="mudarValor"> 365 Dias</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>

                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6 col-xs-12">
                                                    <h5>Estatística semanal</h5>
                                                </div>
                                                <div class="col-md-6 col-xs-12">
                                                    <div style="width:45%;float:right;" class="pb-3">
                                                        <input class="form-control datetimepicker-input botao-semana" id="week" type="week">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col-md-12 col-xs-12">
                                                    <div class="row">
                                                        <div id="bar-chart" style="height: 420px"></div>

                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

</main>


<div th:replace="fragments/footer :: footer" />
<script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-8216c69d01441f36c0ea791ae2d4469f0f8ff5326f00ae2d00e4bb7d20e24edb.js"></script>
<script id="rendered-js" th:src="@{/js/top-cartao.js}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script th:src="@{/js/grafico.js}"></script>
<script th:src="@{/js/estatistica.js}"></script>
</body>

</html>