<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.org">

<head th:replace="/fragments/head :: head(pageTitle='AutoParking - Detalhes estacionamento')" />
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
<style type="text/css">
    .alocacao{
  border: 1px solid grey;
  width: 90px;
  height: 120px;
  background-size: cover;
}

.alocacao img{
  width: 100%;
}
</style>
<script th:inline="javascript">
$( document ).ready(function() {
  var eixoX = parseFloat($("#eixoX").val());
  var eixoY = parseFloat($("#eixoY").val());
  var inverness = {lat: +eixoX, lng: +eixoY};
  var city1 = {position: inverness};
  var map = new google.maps.Map(
  document.getElementById('map'), {zoom: 5, center: inverness});
  var marker1 = new google.maps.Marker({position: inverness, map: map});
});

</script>
<body>

<!-- ======= Top Bar ======= -->
<section th:replace="/fragments/topbar :: topbar" />

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="index.html">AutoParking<span>.</span></a></h1>

        <head th:replace="/fragments/navbar :: navbar" />

    </div>
</header>
<!-- End Header -->


<main id="main" data-aos="fade-up">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Cadastrar</h2>
                <ol>
                    <li><a th:href="@{/}">Página inicial</a></li>
                    <li><a th:href="@{/admin}">Admin</a></li>
                    <li>Novo estacionamento</li>
                </ol>
            </div>

        </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div th:if="${mensagemSucesso}" class="m-2 alert alert-success alert-dismissible fade show" role="alert">
                <span th:utext="${mensagemSucesso}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div th:if="${mensagemError}" class="m-2 alert alert-danger alert-dismissible fade show" role="alert">
                <span th:utext="${mensagemError}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="row m-2 no-gutters shadow-lg">
                <div class="col-md-12 bg-white p-3 col-12">
                    <div class="container">
                        <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-7 pt-3">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h1 class="only-bottom-margin" th:text="${estacionamento.nome}"></h1>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <span class="text-muted">Endereço:</span> <span th:text="|${estacionamento.endereco.rua} , ${estacionamento.endereco.rua}, ${estacionamento.endereco.cidade} - ${estacionamento.endereco.estado.descricao}|"></span><br>
                                                            <span class="text-muted">Horário:</span> <span th:text="|Aberto de ${estacionamento.horarioAbre} às ${estacionamento.horarioFecha}| "></span><br>
                                                            <span class="text-muted">Telefone:</span> <span th:text="${estacionamento.telefone}"></span><br>
                                                            <span class="text-muted">Capacidade:</span> <span th:text="|${estacionamento.quantidadeVagas} vagas|"></span><br><br>
                                                            <input type="hidden" id="eixoX" th:value="*{estacionamento.eixoX}"/>
                                                            <input type="hidden" id="eixoY" th:value="*{estacionamento.eixoY}"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 text-center">
                                                    <div id="map" style="height: 200px;width: 100%;"></div>
                                                    <!-- Replace the value of the key parameter with your own API key. -->
                                                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZfVO29Iytspv4xz7S68doIoiztiRLhbk">
                                                    </script>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="row pt-3">
                                                    <br>
                                                    <h2 class="only-bottom-margin">Vagas</h2>
                                                    <hr>
                                                </div>
                                                <div class="row">

                                                    <div class="col-md-4">
                                                        <div class="card" style="height:290px;">
                                                            <div class="pt-3">
                                                                <div class="card-body text-center" style="font: normal 26px Poppins; text-transform: uppercase;">
                                                                    <img  width="90px" height="90px" th:src="@{/img/parked-car.png}"/>
                                                                    <h5 class="card-title pt-3">Vagas Reservadas</h5>
                                                                    <p class="card-text counter-count" th:text="${vagasReservadas}"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="card" style="height:290px;">
                                                            <div class="pt-3">
                                                                <div class="card-body text-center" style="font: normal 26px Poppins; text-transform: uppercase;">
                                                                    <img  width="90px" height="90px" th:src="@{/img/parking.png}"/>
                                                                    <h5 class="card-title pt-3">Vagas disponíveis</h5>
                                                                    <p class="card-text counter-count" th:text="${vagasDisponiveis}"></p>
                                                                    <a href="#" data-bs-toggle="modal" th:if="${vagasDisponiveis>0}" class="btn btn-dark" data-bs-target="#exampleModalXl">Solicitar</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="card" style="height:290px;">
                                                            <div class="pt-3">
                                                                <div class="card-body text-center" style="font: normal 26px Poppins; text-transform: uppercase;">
                                                                    <img  width="90px" height="90px" th:src="@{/img/parking-block.png}"/>
                                                                    <h5 class="card-title pt-3">Vagas ocupadas</h5>
                                                                    <p class="card-text counter-count" th:text="${vagasOcupadas}"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <br>
                                                        <h2 class="only-bottom-margin">Serviços</h2>
                                                        <hr>
                                                    </div>
                                                </div>
                                                <div class="col-12" style="margin-top:-15px;" th:if="${estacionamento.servicos.size()>0}">
                                                    <table class="table table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Descrição</th>
                                                            <th scope="col">Valor</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="servico,count : ${estacionamento.servicos}">
                                                            <th scope="row" th:text="${count.count}"></th>
                                                            <td th:text="${servico.descricao}"></td>
                                                            <td th:text="${servico.valor}"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div th:unless="${estacionamento.servicos.size()>0}" class="d-flex justify-content-center pb-3">
                                                    <h6>O estacionamento não possui nenhum serviço cadastrado</h6>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
<div th:replace="/cliente/modal/modalSolicitarVaga :: modalSolicitarVaga(usuario=*{usuario}, estacionamento=*{estacionamento})" />
<div th:replace="/fragments/footer :: footer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script th:src="@{/js/cadastrar.js}"></script>
<script th:inline="javascript">

$(document).ready(function(){
     elem = document.getElementById("dataPrevistaEntrada")
      var iso = new Date().toISOString().replace(/.\d+Z$/g, "Z");
      var minDate = iso.substring(0,iso.length-1);
      elem.value = minDate
      elem.min = minDate

      elem2 = document.getElementById("dataPrevistaSaida")
      var iso2 = new Date().toISOString().replace(/.\d+Z$/g, "Z");
      var minDate2 = iso2.substring(0,iso.length-1);
      elem2.value = minDate
      elem2.min = minDate

});

$('.counter-count').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {

          //chnage count up speed here
            duration: 4000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });

function setSelectionRange(input, selectionStart, selectionEnd) {
  if (input.setSelectionRange) {
    input.focus();
    input.setSelectionRange(selectionStart, selectionEnd);
  } else if (input.createTextRange) {
    var range = input.createTextRange();
    range.collapse(true);
    console.log(collapse);
    range.moveEnd('character', selectionEnd);
    range.moveStart('character', selectionStart);
    range.select();
  }
}

function setCaretToPos(input, pos) {
  setSelectionRange(input, pos, pos);
}


$("#valor").click(function() {
  var inputLength = $("#valor").val().length;
  setCaretToPos($("#valor")[0], inputLength)
});

var options = {
  onKeyPress: function(cep, e, field, options){
      if (cep.length<=6)
      {

        var inputVal = parseFloat(cep);
        jQuery('#valor').val(inputVal.toFixed(2));
      }

      // setCaretToPos(jQuery('#valor')[0], 4);

      var masks = ['#,##0.00', '0.00'];
      mask = (cep == 0) ? masks[1] : masks[0];
      $('#valor').mask(mask, options);
  },
  reverse: true
};

$('#valor').mask('#,##0.00', options);
</script>
</body>

</html>