<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/head :: head(pageTitle='AutoParking - Minhas orders')" />

<body>


<section th:replace="fragments/topbar :: topbar" />


<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a th:href="@{/}">AutoParking<span>.</span></a></h1>

        <head th:replace="fragments/navbar :: navbar" />

    </div>
</header>



<main id="main" data-aos="fade-up">


    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Order</h2>
                <ol>
                    <li><a th:href="@{/home}">Home</a></li>
                    <li><a th:href="@{/home/orders}">Orders</a></li>
                    <li>Minhas Orders</li>
                </ol>
            </div>

        </div>
    </section>

    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="row m-2 no-gutters shadow-lg">
                <div class="col-md-12 bg-white p-5 col-12">
                    <h3 class="pb-3">Minhas Orders</h3>
                    <div class="col-12" style="margin-top:-15px;" th:if="${orders.size()>0}">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Estacionamento</th>
                                <th scope="col">Data da criação</th>
                                <th scope="col">Duração</th>
                                <th scope="col">Previsão chegada/saida</th>
                                <th scope="col">Status</th>
                                <th scope="col">Fatura</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="order,count : ${orders}">
                                <th scope="row" th:text="${count.count}"></th>
                                <td th:text="${order.estacionamento.nome}"></td>
                                <td th:text="${#temporals.format(order.dataOrder, 'dd/MM/yyyy HH:mm')}"></td>
                                <td th:text="|${order.duracao} minutos|"></td>
                                <td th:text="${order.dataEntrada}!=null and ${order.dataSaida}!=null ? |${#temporals.format(order.dataEntrada, 'dd/MM/yyyy HH:mm')} - ${#temporals.format(order.dataSaida, 'dd/MM/yyyy HH:mm')}| : 'Em andamento'"></td>
                                <td>
                                    <span th:if="${order.statusOrder == T(br.com.autoparking.model.enums.StatusOrder).EM_ABERTO}" class="badge bg-warning text-white">Em Aberto</span>
                                    <span th:if="${order.statusOrder == T(br.com.autoparking.model.enums.StatusOrder).ANDAMENTO}" class="badge bg-primary text-white">Em Andamento</span>
                                    <span th:if="${order.statusOrder == T(br.com.autoparking.model.enums.StatusOrder).FECHADO}" class="badge bg-success text-white">Fechado</span>
                                </td>
                                <td>
                                    <span th:if="${order.statusOrder == T(br.com.autoparking.model.enums.StatusOrder).FECHADO}">
                                        <a th:href="@{/fatura/visualizar/{order}(order = ${order.id})}">Visualizar fatura</a>
                                    </span>
                                    <span th:unless="${order.fatura !=null}">
                                        Não Disponível
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:unless="${orders.size()>0}" class="d-flex justify-content-center pb-3">
                        <h6>Você não possui nenhuma order associado a sua conta.</h6>
                    </div>
                </div>

            </div>

        </div>
    </section>

</main>


<div th:replace="fragments/footer :: footer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script th:src="@{/js/cadastrar.js}"></script>
</body>

</html>