<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<nav th:fragment="navbar"  id="navbar" class="navbar">
    <ul>
        <li sec:authorize="!isAuthenticated()"><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li sec:authorize="!isAuthenticated()"><a class="nav-link scrollto" href="#about">About</a></li>
        <li sec:authorize="!isAuthenticated()"><a class="nav-link scrollto" href="#services">Services</a></li>
        <li sec:authorize="!isAuthenticated()"><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
        <li sec:authorize="!isAuthenticated()"><a class="nav-link scrollto" href="#team">Team</a></li>


        <li sec:authorize="isAuthenticated()" class="text-center p-3">
                Bem vindo <b><span sec:authentication="name">Username</span></b>
                &nbsp;
        </li>
        <li sec:authorize="isAuthenticated()" class="text-center p-3">
            <div class="dropdown">
                <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    <i class="fas fa-user"></i>
                    &nbsp; &nbsp;Perfil
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation" sec:authorize="hasRole('ROLE_CLIENTE')"><a role="menuitem" class="nav-link scrollto" tabindex="-1" th:href="@{/home/perfil}">Editar</a></li>
                    <li role="presentation" sec:authorize="hasRole('ROLE_CLIENTE')"><a role="menuitem" class="nav-link scrollto" tabindex="-1" th:href="@{/home/veiculos}">Veículos</a></li>
                    <li role="presentation" sec:authorize="hasRole('ROLE_CLIENTE')"><a role="menuitem" class="nav-link scrollto" tabindex="-1" th:href="@{/}">Orders</a></li>

                    <li role="presentation" sec:authorize="hasRole('ROLE_ADMIN')"><a role="menuitem" class="nav-link scrollto" tabindex="-1" th:href="@{/admin}">Painel</a></li>
                    <li role="presentation" sec:authorize="hasRole('ROLE_ADMIN')"><a role="menuitem" class="nav-link scrollto" tabindex="-1" th:href="@{/admin/orders}">Orders</a></li>
                    <li role="presentation" sec:authorize="hasRole('ROLE_ADMIN')"><a role="menuitem" class="nav-link scrollto" tabindex="-1" th:href="@{/admin/estacionamentos}">Meu estacionamento</a></li>

                    <li role="presentation"><a role="menuitem" class="nav-link scrollto" tabindex="-1" th:href="@{/logout}">Sair</a></li>
                </ul>
            </div>
        </li>
        <li sec:authorize="!isAuthenticated()"><a class="nav-link scrollto" href="#contact">Contato</a></li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
</nav>
</html>



