<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.org">

<head th:replace="/fragments/head :: head(pageTitle='AutoParking - Login')" />
<body>

<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">contact@example.com</a></i>
            <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
        </div>
    </div>
</section>

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="index.html">BizLand<span>.</span></a></h1>

        <head th:replace="/fragments/navbar :: navbar" />

    </div>
</header>
<!-- End Header -->


<main id="main" data-aos="fade-up">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Login</h2>
                <ol>
                    <li><a th:href="@{/}">Página inicial</a></li>
                    <li><a th:href="@{/Login}">Login</a></li>
                    <li>Acessar</li>
                </ol>
            </div>

        </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="row m-2 no-gutters shadow-lg">
                <div class="col-md-6 d-none d-md-block" style="padding-left:0px;">
                    <img th:src="@{/img/login.jpg}" class="img-fluid" style="min-height:100%;" />
                </div>
                <div class="col-md-6 bg-white p-5">
                    <div th:if="${mensagemSucesso}" class="alert alert-success alert-dismissible fade show" role="alert">
                        <span th:utext="${mensagemSucesso}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div th:if="${#bools.isTrue(param.error)}" class="alert alert-danger" role="alert">
                        O usuário e/ou senha incorretos.
                    </div>
                    <div class="alert alert-danger" role="alert" th:if="${(param.usuarioJaExistente != null)}">
                        Já existe um usuário associado a esta conta. Por favor, faça login usando suas credenciais.
                    </div>
                    <h3 class="pb-3">Acesse</h3>
                    <div class="form-style">
                        <form th:action="@{/login}" method="post" >
                            <div class="form-group pb-3">
                                <input type="email" id="username"  name="username" required class="form-control"  placeholder="Email"  />
                            </div>
                            <div class="form-group pb-4">
                                <input type="password" id="password" name="password"  required class="form-control" placeholder="Senha" />
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <div><a href="#">Esqueceu a senha?</a></div>
                            </div>
                            <div class="pb-2">
                                <button type="submit" class="btn btn-dark w-100 font-weight-bold mt-2">Entrar</button>
                            </div>
                        </form>
                        <div class="sideline">OR</div>
                        <div>
                            <a th:href="@{/oauth2/authorization/google}" class="btn btn-primary w-100 font-weight-bold mt-2"><i class="bi bi-google" aria-hidden="true"></i> Entrar com google</a>
                        </div>
                        <div class="pt-4 text-center">
                            Cadastre seu estacionamento, seja afiliado! <a href="#">  Registrar</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->


<div th:replace="/fragments/footer :: footer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
</body>

</html>