<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.org">

<head th:replace="/fragments/head :: head(pageTitle='AutoParking - Esqueci minha senha')" />

<body>

<!-- ======= Top Bar ======= -->
<section th:replace="/fragments/topbar :: topbar" />

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo">
            <a href="index.html"><img th:src="@{/img/logotipo.png}"/>
            </a>
        </h1>


    </div>
</header>
<!-- End Header -->


<main id="main" data-aos="fade-up">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Cadastrar</h2>
                <ol>
                    <li><a th:href="@{/}">Página inicial</a></li>
                    <li><a th:href="@{/cadastrar}">Cadastrar</a></li>
                    <li>Novo usuário</li>
                </ol>
            </div>

        </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="row m-2 no-gutters shadow-lg">
                <div class="col-md-6 d-none d-md-block col-12"  style="padding-left:0px;">
                    <img th:src="@{/img/login.jpg}" class="img-fluid" style="min-height:100%;" />
                </div>
                <div class="col-md-6 bg-white p-5 col-12">
                    <div th:if="${mensagemError}" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <span th:utext="${mensagemError}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div th:if="${mensagemSucesso}" class="alert alert-success alert-dismissible fade show" role="alert">
                        <span th:utext="${mensagemSucesso}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <h3 class="pb-3">Recuperar senha</h3>
                    <div class="form-style">
                        <form class="row g-3 needs-validation" novalidate th:object="${recuperaSenhaForm}" method="POST" th:action="@{/recuperar}">
                            <div class="col-md-12 pb-3">
                                <input type="text" placeholder="Email" class="form-control" th:field="*{email}" required th:errorClass="is-invalid">
                                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></div>
                                <div th:unless="${#fields.hasAnyErrors()}" class="invalid-feedback">
                                    Preencha seu email.
                                </div>
                            </div>

                            <div class="pb-2">
                                <button type="submit" class="btn btn-dark w-100 font-weight-bold mt-2">Recuperar</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->


<div th:replace="/fragments/footer :: footer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script th:src="@{/js/cadastrar.js}"></script>
</body>

</html>